mixin createCarouselItem(index, forecast, active)
  .carousel-item(data-bs-interval='4000', class=active)
    .card.mx-auto(style='width: 500px')
      .card-header.text-light.bg-secondary.fs-2
        | #{forecast.name}
      .card-body
        h5.card-title= forecast.forecastData.conditionCode
        p.card-text Date: #{forecast.forecastData.forecastDateTimeLocal}
        p.card-text Temperature #{forecast.forecastData.airTemperature}, Humidity #{forecast.forecastData.relativeHumidity}, Wind Speed #{forecast.forecastData.windSpeed}
        a.btn.btn-outline-primary.fs-6(href='/weatherapi/forecast/#{forecast.code}')> Full Forecast


#carouselExampleSlidesOnly.carousel.slide.mt-5(data-bs-ride='carousel')
  .carousel-inner
    if forecasts.length
      for forecast, i in forecasts
        if i == 0
          +createCarouselItem(i, forecast, 'active')
        else
          +createCarouselItem(i, forecast)